In [6]:
import pandas as pd
import sqlite3


df = pd.read_csv('all_players.csv')
df['Club'].isna().sum()

5493

In [3]:
conn = sqlite3.connect('all_players.db')
cur = conn.cursor()
df.to_sql('players', conn, if_exists='replace', index=False) # - writes the all_players.df to SQLIte DB
conn.commit()
conn.close()

In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Error


def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [7]:
display(df)

                  Player Club  POS  GP  GS  MINS  Year Season
0           Roy Lassiter  TB     F  30  30  2580  1996    reg
1         Raul Diaz Arce  DC     F  28  28  2351  1996    reg
2        Eduardo Hurtado  LA     F  26  26  2323  1996    reg
3                  Preki  KC     M  32  32  2880  1996    reg
4          Brian McBride  CLB    F  28  28  2307  1996    reg
...                  ...  ...  ...  ..  ..   ...   ...    ...
15762  Alejandro Pozuelo  NaN    M   1   1   120  2020   post
15763        Franco Jara  NaN    F   2   2   210  2020   post
15764          Andy Polo  NaN    M   1   1   105  2020   post
15765    Cristian Roldan  NaN    M   4   4   360  2020   post
15766       Joevin Jones  NaN  D-M   4   4   260  2020   post

[15767 rows x 8 columns]

# Tables

- Club
- Position
- Year
- Season
- Player
- PlayerStats

In [ ]:
sql_statement =